// -------- imports --------
@import "fonts";
@import "_normalize.scss";
@import "_mixins.scss";
@import "_variables.scss";
@import "_ui.scss";


// fonts --------- &display=swap || &subset=cyrillic-ext
// throught plugin


::selection {}

body {
    overflow: auto; // <--- delete this if not necessary
}
.container {
    max-width: 0px; // <--- container res +30px for padding
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
}